// About 1
.aboutIntroduce {
	position: relative;
	min-height: 100vh;
	height: 100vh;
	overflow: hidden;
	.row {
		height: 100%;
	}
	.section__title.aboutIntroduce__title {
		position: absolute;
		top: 150px;
		left: -130px;
		font-size: 5.6rem;
		text-transform: uppercase;
		span {
			position: relative;
			z-index: 2;
		}
		&:after {
			content: '';
			width: 250px;
			height: 250px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.7);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -50px;
			z-index: 0;
		}
		@media (max-width: 1024.98px) {
			top: 150px;
			left: -100px;
			&:after {
				width: 160px;
				height: 160px;
			}
		}
		@media (max-width: 767.98px) {
			top: 125px;
			left: 15px;
		}
	}
	.aboutIntroduce__content {
		display: flex;
		position: relative;
		padding-top: 310px;
		@media (max-width: 1024.98px) {
			padding-top: 260px;
		}
		@media (max-width: 767.98px) {
			padding-top: 210px;
			padding-bottom: 4rem;
		}
	}
	@media (max-width: 767.98px) {
		background-image: url('../images/about-1.jpg');
		background-position: center;
		background-size: cover;
		height: auto;
		min-height: unset;
	}
}
.aboutIntroduce__contentWrapper {
	padding: 35px;
	max-width: 850px;
	width: 100%;
	position: relative;
	z-index: 5;
	.section__title {
		margin-bottom: 2rem;
	}
	p {
		font-weight: 300;
		font-size: 1.6rem;
		~ p {
			margin-top: 10px;
		}
	}
	@media (max-width: 1199.98px) {
		padding: 25px;
	}
	@media (max-width: 1024.98px) {
		padding: 20px;
	}
	@media (max-width: 767.98px) {
		padding: 15px;
	}
}
.aboutIntroduce__circle {
	position: absolute;
	right: -140px;
	top: -50px;
	background-color: #f2f2f2;
	width: (450px / 1920px) * 100vw;
	height: (450px / 1920px) * 100vw;
	border-radius: 50%;
}
.aboutIntroduce__img {
	max-width: 450px;
	height: 100%;
	@media (max-width: 1024.98px) {
		max-width: 360px;
	}
	@media (max-width: 767.98px) {
		display: none;
	}
}

// About 2
.aboutFounder {
	position: relative;
	overflow: hidden;
	background-color: #f8f8f8;
	.row {
		height: 100%;
	}
	.section__title.aboutIntroduce__title {
		position: absolute;
		top: 15%;
		left: -70px;
		text-transform: uppercase;
		span {
			position: relative;
			z-index: 2;
		}
		&:after {
			content: '';
			width: 150px;
			height: 150px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.7);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -50px;
			z-index: 0;
		}
	}
	.aboutIntroduce__content {
		display: flex;
		position: relative;
		padding-top: 220px;
		@media (max-width: 1439.98px) {
			padding-top: 180px;
		}
		@media (max-width: 1199.98px) {
			padding-top: 140px;
		}
		@media (max-width: 1024.98px) {
			padding-top: 120px;
		}
	}
	.aboutIntroduce__contentWrapper {
		padding: 35px;
		max-width: 850px;
		width: 100%;
		.section__title {
			margin-bottom: 2rem;
			font-size: 2.4rem;
		}
		p {
			font-weight: 300;
			font-size: 1.6rem;
			~ p {
				margin-top: 10px;
			}
		}
	}
	@media (max-width: 767.98px) {
		padding-top: 5rem;
		padding-bottom: 5rem;
		.aboutIntroduce__contentWrapper{
			padding: 15px;
		}
		.aboutIntroduce__content {
			flex-direction: column;
			padding-top: 4rem;
		}
		.aboutIntroduce__img {
			display: block;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			text-align: center;
			img {
				max-width: 260px;
			}
		}
		.section__title.aboutIntroduce__title {
			position: relative;
			top: 0;
			left: 0;
			padding: 10px 15px;
			margin-bottom: 2.5rem;
			&:after {
				content: none;
			}
			&:before {
				left: 15px;
			}
		}
	}
}

// About 3
.aboutMissionStatement__title {
	font-size: 3.6rem;
	@media (min-width: 768px) {
		font-size: 4.8rem;
	}
	@media (min-width: 1025px) {
		font-size: 6rem;
	}
	@media (min-width: 1200px) {
		font-size: 7.2rem;
	}
}
.aboutMissionStatement__subTitle {
	font-size: 1.7rem;
	font-weight: 500;
	@media (min-width: 1025px) {
		font-size: 2rem;
	}
}
.aboutMissionStatement__icons {
	display: flex;
	justify-content: center;
	margin-top: 6rem;
}
.aboutMissionStatementIcon {
	margin: 0 10px;
	@media (min-width: 768px) {
		margin: 0 15px;
	}
	@media (min-width: 1025px) {
		margin: 0 20px;
	}
	@media (min-width: 1200px) {
		margin: 0 25px;
	}
}
.aboutMissionStatementIcon__img {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dfdfdf;
	border-radius: 10px;
}
.aboutMissionStatementIcon__content {
	margin-top: 20px;
	h4 {
		text-align: center;
		font-size: 1.3rem;
		font-weight: 500;
		color: var(--ink-50);
	}
}
// About 4
.aboutWhyChooseUs {
	position: relative;
	min-height: 50vh;
	display: flex;
	align-items: center;
	.aboutWhyChooseUs__img {
		@media (max-width: 1024.98px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--black);
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				opacity: 0.3;
			}
		}
		@media (min-width: 1025px) {
			-ms-flex: 0 0 330px;
			flex: 0 0 330px;
			max-width: 330px;
		}
	}
	.aboutIntroduce__contentWrapper {
		padding: 0;
		max-width: 830px;
		width: 100%;
		.section__title {
			margin-bottom: 3rem;
		}
	}
	@media (min-width: 1025px) {
		&:before {
			content: '';
			width: 185px;
			background-color: #d2c2b5;
			left: 0;
			top: 80px;
			bottom: 0;
			position: absolute;
		}
	}
	@media (max-width: 1024.98px) {
		padding-top: 0 !important;
		.aboutIntroduce__content {
			position: relative;
			z-index: 5;
		}
		.aboutIntroduce__contentWrapper {
			.section__title {
				&:before {
					background-color: var(--white);
				}
			}
			h2,
			p {
				color: var(--white);
			}
		}
	}
}

// About 5
.aboutCustomer__containerCustom {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}
.aboutCustomer__img {
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
	padding: 0 15px;
}
.aboutCustomer__slider {
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
	padding: 0 15px;
}
.aboutCustomerItem__img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.aboutCustomerItem__avatarWrapper {
	position: relative;
	width: 150px;
	height: 150px;
}
.aboutCustomerItem__title {
	white-space: nowrap;
	position: absolute;
	left: 100%;
	top: 0;
	padding-top: 10px;
	padding-left: 10px;
	color: var(--ink-50);
	font-weight: 400;
	font-size: 2rem;
}
