.serviceDetail {
	@media (max-width: 1024.98px) {
		padding-bottom: 55px;
		padding-top: 55px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 30px;
		padding-top: 30px;
	}
}
.serviceDetail__content {
	padding-top: 3rem;
	p,
	ul,
	ol {
		font-weight: 300;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	ul,
	ol {
		padding-left: 20px;
	}
	.serviceItem__title {
		position: static;
		transform: translateY(0);
		margin-bottom: 2rem;
		color: var(--ink-70);
		&:before {
			background-color: var(--ink-70);
		}
	}
	.serviceDetail__subTitle {
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 2rem;
	}
}
@media (min-width: 1025px) {
	.serviceDetail {
		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.serviceDetail__img {
		height: 100vh;
		width: 100%;
	}
	.serviceDetail__content {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 45px 0;
		.serviceItem__title,
		p,
		ol,
		ul {
			color: var(--white);
			li {
				&:not(:last-child) {
					margin-bottom: 7px;
				}
			}
		}
		.serviceItem__title {
			&:before {
				background-color: var(--white);
			}
		}
	}
	.serviceDetail__contentWrapper {
		padding: 0 60px;
		overflow-y: auto;
		max-height: 100%;
	}
}
@media (min-width: 1200px) {
	.serviceDetail__content {
		padding: 70px 0;
	}
	.serviceDetail__contentWrapper {
		padding: 0 100px;
	}
}
