.serviceItem {
	display: block;
	position: relative;
	height: 50vh;
	min-height: 330px;
}
.serviceItem__content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	z-index: 5;
	.btn--viewDetail--outline {
		font-size: 1.3rem;
		margin-top: 2.5rem;
	}
}
.serviceItem__title,
.serviceItem__description {
	color: var(--white);
}
.serviceItem__description {
	margin-top: 1.5rem;
}
.serviceItem__title {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		height: 3px;
		width: 80px;
		background-color: var(--white);
	}
}
.serviceItem__img {
	background-color: var(--white);
}
@media (min-width: 768px) {
	.serviceItem__content {
		padding: 20px 35px;
	}
}
@media (min-width: 1025px) {
	.serviceItem__img {
		transition: all 0.3s ease;
		position: relative;
		&:before {
			content: '';
			transition: all 0.3s ease;
			border: 0px solid var(--black);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
	.serviceItem__description {
		opacity: 0;
		visibility: hidden;
		transform: translateY(40px);
		transition: all 0.3s ease;
	}
	.btn--viewDetail--outline {
		opacity: 0;
		visibility: hidden;
		transform: translateY(40px);
		transition: all 0.3s ease;
	}
	.serviceItem__title {
		transform: translateY(40px);
		transition: all 0.3s ease;
	}
	.serviceItem {
		height: 100vh;
		&:hover {
			.serviceItem__img {
				&:before {
					border: 15px solid var(--black);
				}
			}
			.serviceItem__title {
				transform: translateY(0);
			}
			.serviceItem__description {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				transition-delay: 0.2s;
			}
			.btn--viewDetail--outline {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
}
@media (min-width: 1025px) {
	.serviceItem__content {
		padding: 20px 50px;
	}
}
