.aboutFounder
	.row.no-gutters
		.col-md-auto.aboutIntroduce__img
			img.lazyload.blur-up.object-cover(data-src="./images/about-2.jpg")
		.col-md.aboutIntroduce__content
			h2.aboutIntroduce__title.section__title.fw-400.underline.underline--80.underline--black 
				span Nhà sáng lập
			.aboutIntroduce__contentWrapper
				h2.section__title.fw-400 Tổng giám đốc: Ông Lê Văn Vinh
				p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
				p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.