.aboutMissionStatement.pd-section
	.container
		.row.align-items-center
			.col-md-6
				.aboutMissionStatement__content.text-center 
					h2.aboutMissionStatement__title.section__title.fw-400.text-uppercase LE VIN Decor 
					p.aboutMissionStatement__subTitle UY TÍN - CHẤT LƯỢNG - CHUYÊN NGHIỆP - SÁNG TẠO
				.aboutMissionStatement__icons
					.aboutMissionStatementIcon
						.aboutMissionStatementIcon__img
							img.lazyload.blur-up(data-src="./images/missing-statement.svg")
						.aboutMissionStatementIcon__content
							h4 Sứ mệnh 1
					.aboutMissionStatementIcon
						.aboutMissionStatementIcon__img
							img.lazyload.blur-up(data-src="./images/missing-statement.svg")
						.aboutMissionStatementIcon__content
							h4 Sứ mệnh 1
					.aboutMissionStatementIcon
						.aboutMissionStatementIcon__img
							img.lazyload.blur-up(data-src="./images/missing-statement.svg")
						.aboutMissionStatementIcon__content
							h4 Sứ mệnh 1
			.col
			.col-md-5
				.indexIntroduce__img
					img.lazyload.blur-up(data-src="./images/introduce-1.jpg")