.aboutWhyChooseUs.clearfix.pt-section
	.aboutIntroduce__content.container.pd-section
		.aboutIntroduce__contentWrapper
			h2.section__title.fw-400.underline.underline--80.underline--black.text-uppercase Vì sao chọn chúng tôi
			p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
			p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
	.aboutWhyChooseUs__img
		img.lazyload.blur-up(data-src="./images/about-3.jpg")