.aboutCustomer.pd-section
	.container
		.section__blockTitle
			h2.aboutCustomer__title.section__title.fw-400.underline.underline--80.underline--black Khách hàng
	.aboutCustomer__containerCustom
		.row
			.aboutCustomer__slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.aboutCustomerItem__avatarWrapper
								.aboutCustomerItem__img
									img.object-cover(src="./images/testimonial-1.jpg")
								h4.aboutCustomerItem__title Bessie Cooper 
							.aboutCustomerItem__content
								p Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit.
			.aboutCustomer__img
				img.lazyload.blur-up(data-src="./images/about-5.jpg")