.serviceDetail
	.container-fluid
		.row.no-gutters
			.serviceDetail__img
				img.lazyload.blur-up.object-cover(data-src="./images/service-detail.jpg")
			.serviceDetail__content
				.serviceDetail__contentWrapper
					h1.section__title.serviceItem__title.fw-400.text-uppercase Tư vấn thiết kế
					p.serviceDetail__subTitle INTERNAL DECORATING
					p.fs--16 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					p.fs--16 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					ul
						li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi architecto.
						li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi architecto.
						li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi architecto.