.indexIntroduce.pd-section
	.container
		.row.align-items-center
			.col-md-6
				.indexIntroduce__icon.text-center
					img.lazyload.blur-up(data-src="./images/introduce-icon-1.svg")
				.indexIntroduce__content
					h2.indexIntroduce__title.section__title.underline.underline--main.underline--200.fw-400 Công ty thiết kế nội thất văn phòng hàng đầu Việt Nam
					p.indexIntroduce__description.fs--18
						b LE VIN Decor 
						| là một trung những công ty hàng đầu trong nước trong lĩnh vực thiết kế, sản xuất cung cấp và lắp đặt đồ nội thất cao cấp cho các dự án văn phòng.
				.indexIntroduce__buttons
					a.btn.btn--30--outline.fw-700(href="/about-us.html") Xem thêm
			.col
			.col-md-5
				.indexIntroduce__img
					img.lazyload.blur-up(data-src="./images/introduce-1.jpg")