.indexVideo.pd-section
	.container
		.row--float.clearfix
			.indexVideo__img
				a(href="https://www.youtube.com/watch?v=zRdHnseM0PE" data-fancybox="index-video")
					img.lazyload.blur-up(data-src="./images/video-1.jpg")
			.indexVideo__content
				h2.indexVideo__title.section__title.fw-400 Cùng kiến tạo không gian hoàn hảo
				p.indexVideo__description.fw-300 Không gian làm việc hiện nay là bơi hoạt đông kinh doanh quan trọng diễn ra, vì thể kiến tạo một không gian làm việc mới cũng là cơ hội để các nhà quản trị suy nghĩ về việc tạo ra những lợi thế cạnh tranh cho chính doanh nghiệp mình.
				p.indexVideo__description.fw-700 Đến với Lê Vin khách hàng sẽ cảm nhận sự khác biệt về cách phục vụ, tính chuyên nghiệp cao, thân thiện và nhiệt tình với phương châm: “BIẾN GIẤC MƠ THÀNH HIỆN THỰC”
