.indexHotService.pt-section
	.container
		.section__blockTitle
			h2.section__title.fw-400.underline.underline--80.underline--black Dự án nổi bật
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a.indexHotServiceItem(href="#")
					.indexHotServiceItem__img
						img.object-cover(src="./images/service-1.jpg")
					.indexHotServiceItem__content
						h4.text-uppercase.text-center VĂN PHÒNG CITEK
					.indexHotServiceItem__buttons
						.btn.btn--70.fw-700 Xem thêm
			.swiper-slide
				a.indexHotServiceItem(href="#")
					.indexHotServiceItem__img
						img.object-cover(src="./images/service-2.jpg")
					.indexHotServiceItem__content
						h4.text-uppercase.text-center Văn phòng
					.indexHotServiceItem__buttons
						.btn.btn--70.fw-700 Xem thêm
			.swiper-slide
				a.indexHotServiceItem(href="#")
					.indexHotServiceItem__img
						img.object-cover(src="./images/service-3.jpg")
					.indexHotServiceItem__content
						h4.text-uppercase.text-center VĂN PHÒNG IOM
					.indexHotServiceItem__buttons
						.btn.btn--70.fw-700 Xem thêm
			.swiper-slide
				a.indexHotServiceItem(href="#")
					.indexHotServiceItem__img
						img.object-cover(src="./images/service-4.jpg")
					.indexHotServiceItem__content
						h4.text-uppercase.text-center PHÒNG PANTRY
					.indexHotServiceItem__buttons
						.btn.btn--70.fw-700 Xem thêm