.indexCustomer.pd-section
	.container
		.section__blockTitle
			h2.indexCustomer__title 1000+
			p.indexCustomer__subTitle KHÁCH HÀNG ĐÃ TIN TƯỞNG LEVIN DECOR
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
				.swiper-slide
					a.fullsize(href="#")
						img.object-cover(src="./images/service-1.jpg")
			.swiper-pagination.swiper-pagination--custom