.indexNews.pd-section
	.container
		.section__blockTitle.justify-content-start
			h2.section__title.underline.underline--black.underline--80.fw-400.text-uppercase Tin tức mới nhất
		.row
			.col-sm-6.col-xl-3
				a.newsItem(href="news-detail.html")
					.newsItem__img
						img.lazyload.blur-up(data-src="./images/news.jpg")
					.newsItem__content
						.newsItem__contentWrapper
							h4.newsItem__title Amet minim mollit non deserunt ullamco est sit aliqua dolor do resad...
							p.newsItem__time
								span.far.fa-clock
								time 11/14/2020
							p.newsItem__viewmore.text-right
								span Xem thêm
			.col-sm-6.col-xl-3
				a.newsItem(href="news-detail.html")
					.newsItem__img
						img.lazyload.blur-up(data-src="./images/news.jpg")
					.newsItem__content
						.newsItem__contentWrapper
							h4.newsItem__title Amet minim mollit non deserunt ullamco est sit aliqua dolor do resad...
							p.newsItem__time
								span.far.fa-clock
								time 11/14/2020
							p.newsItem__viewmore.text-right
								span Xem thêm
			.col-sm-6.col-xl-3
				a.newsItem(href="news-detail.html")
					.newsItem__img
						img.lazyload.blur-up(data-src="./images/news.jpg")
					.newsItem__content
						.newsItem__contentWrapper
							h4.newsItem__title Amet minim mollit non deserunt ullamco est sit aliqua dolor do resad...
							p.newsItem__time
								span.far.fa-clock
								time 11/14/2020
							p.newsItem__viewmore.text-right
								span Xem thêm
			.col-sm-6.col-xl-3
				a.newsItem(href="news-detail.html")
					.newsItem__img
						img.lazyload.blur-up(data-src="./images/news.jpg")
					.newsItem__content
						.newsItem__contentWrapper
							h4.newsItem__title Amet minim mollit non deserunt ullamco est sit aliqua dolor do resad...
							p.newsItem__time
								span.far.fa-clock
								time 11/14/2020
							p.newsItem__viewmore.text-right
								span Xem thêm