extends views/_layouts/layout

block var
	- bodyClass = "about-body"
	- mainClass = "about-main"
	- title = "Giới thiệu"

block main
	include views/about-us/a-1
	include views/about-us/a-2
	include views/about-us/a-3
	include views/about-us/a-4
	include views/about-us/a-5