extends views/_layouts/layout

block var
	- bodyClass = "news-body"
	- mainClass = "news-main"
	- title = "Tin tức"
	- itemTitle = "News Title"
	- itemDetail = "news-detail.html"

block main
	include views/project/p-1