extends views/_layouts/layout

block var
	- bodyClass = "project-body"
	- mainClass = "project-main"
	- title = "Dự án chi tiết"
	- itemTitle = "Project Title"
	- itemDetail = "project-detail.html"

block main
	include views/project/p-1