.header--mobile.mobile
	.container
		.row.align-items-center
			.header__logo.text-center
				a(href='/')
					img(src="./images/logo.svg", alt="logo")
					h1 LeVin Decor
			.header__toggle
				span.fal.fa-bars
header.header
	.header__logo.text-center
		a(href='/')
			img(src="./images/logo.svg", alt="logo")
			h1 LeVin Decor
	.header__nav
		.nav__item
			a.nav__link(href="/") Trang chủ
		.nav__item.nav__item--hasSub
			a.nav__link(href="#") 
				span Giới thiệu
				span.fal.fa-chevron-down
			.nav__sub
				.nav__back
					span.fal.fa-chevron-left 
					span Quay lại
				.nav__item
					a.nav__link(href="about-us.html") Giới thiệu chung
				.nav__item
					a.nav__link(href="about-office.html") Khối văn phòng
				.nav__item
					a.nav__link(href="about-factory.html") Khối nhà máy

		.nav__item
			a.nav__link(href="service.html") Dịch vụ
		.nav__item
			a.nav__link(href="project.html") Dự án
		.nav__item
			a.nav__link(href="news.html") Tin tức
		.nav__item
			a.nav__link(href="contact.html") Liên hệ
	.header__contact
		p.contact__socials
			span Socials: 
			a.social__item(href="#")
				span.fab.fa-facebook-f
			a.social__item(href="#")
				span.fab.fa-twitter
			a.social__item(href="#")
				span.fab.fa-youtube
		p.contact__item
			span.fas.fa-phone-alt.contact__icon
			a.contact__text(href="tel:0902851929") 090 2851 929
		p.contact__item
			span.fas.fa-envelope.contact__icon
			a.contact__text(href="mailto:info@levindecor.com") info@levindecor.com
		p.contact__item
			span.fas.fa-globe-asia.contact__icon
			a.contact__text.active(href="#") Việt Nam
			span | 
			a.contact__text(href="#") English