.pagination
	ul.pagination__list
		li.pagination__item
			a.pagination__link(href="#")
				span.fal.fa-chevron-left
		li.pagination__item
			a.pagination__link(href="#")
				span 1
		li.pagination__item
			a.pagination__link(href="#")
				span 2
		li.pagination__item
			a.pagination__link.active(href="#")
				span 3
		li.pagination__item
			a.pagination__link(href="#")
				span ...
		li.pagination__item
			a.pagination__link(href="#")
				span 5
		li.pagination__item
			a.pagination__link(href="#")
				span.fal.fa-chevron-right