.project
	.project__container
		.row
			-for(let i = 0;i<15;i++)
				.col-sm-6.col-xl-4
					a(href=itemDetail).projectItem
						.projectItem__img
							img.lazyload.blur-up(data-src="./images/news.jpg")
						.projectItem__content
							h4.projectItem__title= itemTitle
							p.projectItem__description.fs--16.fw-300 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit perspiciatis tempore sequi eligendi minus saepe quod rem! Repellat quos, neque mollitia eum nihil dolores error rem sed illo earum dignissimos!
		include ../_layouts/pagination