.service
	.row.no-gutters
		.col-lg-4
			a.serviceItem(href="service-detail.html")
				.serviceItem__img.fullsize
					img.lazyload.blur-up.object-cover(data-src="./images/service-category-1.jpg")
				.serviceItem__content
					h4.fw-400.section__title.serviceItem__title TƯ VẤN THIẾT KẾ
					p.serviceItem__description.fs--16 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					span.btn.btn--viewDetail--outline Xem chi tiết
		.col-lg-4
			a.serviceItem(href="service-detail.html")
				.serviceItem__img.fullsize
					img.lazyload.blur-up.object-cover(data-src="./images/service-category-2.jpg")
				.serviceItem__content
					h4.fw-400.section__title.serviceItem__title TƯ VẤN THIẾT KẾ
					p.serviceItem__description.fs--16 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					span.btn.btn--viewDetail--outline Xem chi tiết
		.col-lg-4
			a.serviceItem(href="service-detail.html")
				.serviceItem__img.fullsize
					img.lazyload.blur-up.object-cover(data-src="./images/service-category-3.jpg")
				.serviceItem__content
					h4.fw-400.section__title.serviceItem__title TƯ VẤN THIẾT KẾ
					p.serviceItem__description.fs--16 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					span.btn.btn--viewDetail--outline Xem chi tiết