.contact.pd-section
	.container
		.row
			.col-md-6
				.section__blockTitle
					h2.section__title.contact__formTitle.underline.underline--black.underline--80.fw-400.text-center.text-uppercase Liên hệ
		.row
			.col-md-6
				form.contact__form.row
					.col-sm-6.form-group
						.form-input
							input.form-control(type="text" name="Fullname" placeholder="Tên")
					.col-sm-6.form-group
						.form-input
							input.form-control(type="text" name="Phone" placeholder="Số điện thoại")
					.col-12.form-group
						.form-input
							input.form-control(type="text" name="Email" placeholder="Email")
					.col-12.form-group
						.form-input
							textarea.form-control(placeholder="Lời nhắn")
					.col-12.form-group.text-center.form-button
						button.btn.btn--70.fw-700 Gửi
			.col-md-6
				.contact__information
					.information__item
						span.fas.fa-map-marker-alt
						p
							b Địa chỉ: 
							span 06-07 Lô J1 Đường DD5, Khu DC An Sương, Phường Tân Hưng Thuận, Quận 12, TP.HCM
					.information__item
						span.fas.fa-phone-alt
						p
							b Tư vấn khách hàng: 
							span 090 285 1929
					.information__item
						span.fas.fa-phone-alt
						p
							b Liên Hệ Hợp Tác: 
							span 0906 734 088
					.information__item
						span.fas.fa-fax
						p
							b ‍Fax: 
							span 38117816
					.information__item
						span.fas.fa-envelope
						p
							b ‍Email: 
							span info@levindecor.com
					.information__item
						span.fas.fa-globe-asia
						p
							b ‍Website: 
							span https://levindecor.com

.contact__map
	iframe.fullsize(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7806.361973083128!2d108.44112942223931!3d11.961967958552247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112cdb296938b%3A0xbd56a2e17de2f628!2sC%C3%B4ng%20Ty%20TNHH%20Trang%20Tr%E1%BA%A1i%20Langbiang!5e0!3m2!1svi!2s!4v1606959749428!5m2!1svi!2s' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')