.newsItem {
	display: block;
	position: relative;
	margin-bottom: 30px;
	&:hover{
		.newsItem__img{
			&:after{
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
				-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
				transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
				border-radius: 8px;
			}
		}
		.newsItem__title, .newsItem__viewmore{
			color: var(--main);
		}
	}
}
.newsItem__img {
	@include img(1);
	overflow: hidden;
	&:after{
		content: "";
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.4);
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		border-radius: 8px;
		cursor: pointer;
	}
	img {
		box-shadow: var(--shadow-1);
		border-radius: 8px;
	}
}
.newsItem__content {
	margin-top: -50px;
	position: relative;
	z-index: 99;
	padding: 0 0 0 10px;
	@media (min-width: 1025px) {
		padding: 0 0 0 15px;
	}
	@media (min-width: 1200px) {
		padding: 0 0 0 20px;
	}
}
.newsItem__contentWrapper {
	background-color: var(--white);
	border-radius: 8px;
	padding: 10px 15px;
	box-shadow: var(--shadow-1);
}
.newsItem__title {
	font-size: 1.6rem;
	color: var(--ink-70);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.newsItem__time {
	margin-top: 10px;
	color: var(--ink-30);
	display: flex;
	align-items: center;
	font-weight: 500;
	time {
		font-size: 12px;
		margin-left: 5px;
	}
	.fal {
		font-size: 13px;
	}
}
.newsItem__viewmore {
	color: var(--ink-50);
	font-size: 12px;
}
