:root {
	--font-arrus: 'Arrus', sans-serif;
	--font-main: 'Roboto', sans-serif;
	--white: #ffffff;
	--black: #000000;
	--text: #231f1f;
	--main: #f5c22b;
	--primary: #0466c8;
	--secondary: #001233;
	--success: #36b368;
	--warning: #ffc400;
	--danger: #cc2014;
	--shadow-1: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--shadow-2: 0px 0px 4px rgba(0, 0, 0, 0.25);
	--ink-30: #7b7979;
	--ink-40: #656262;
	--ink-50: #4f4c4c;
	--ink-60: #393535;
	--ink-70: #231F1F;
}
